.wrap
  padding: 50px 250px 0 250px
.item
  display: flex
  justify-content: space-between

.roll
  padding: 5px
  border-radius: 20px
  height: 100%
  .header-roll
    background: #ccc
    width: 200px
    border-radius: 5px
    box-shadow: 2px 2px 2px #000
    span
      font-weight: bold
      font-size: 18pt

.empty
  margin-top: 20px
  border-radius: 5px
  padding: 30px
  h2
    color: white
    padding: 20px
    background: #838383
    border-radius: 10px
    border: 2px dotted black
